apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic
spec:
  replicas: 3
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
        - name: petclinic
          image: 966391709212.dkr.ecr.ap-northeast-1.amazonaws.com/eks-user16-repo:c4d7cb72d7c5c666991f8a93ba659e1808daf5bc
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 1Gi
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 15

          env:
            # --- 1. ConfigMap (비밀이 아닌 값) ---
            - name: SPRING_PROFILES_ACTIVE
              valueFrom:
                configMapKeyRef:
                  name: petclinic-config   # 2단계에서 만들 ConfigMap 이름
                  key: SPRING_PROFILES_ACTIVE
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: petclinic-config
                  key: SERVER_PORT

            # --- 2. Secret (민감한 비밀 값) ---
            - name: SPRING_DATASOURCE_URL
              valueFrom:
                secretKeyRef:
                  name: petclinic-db-secret # 3단계에서 만들 Secret 이름
                  key: SPRING_DATASOURCE_URL
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: petclinic-db-secret
                  key: SPRING_DATASOURCE_USERNAME
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: petclinic-db-secret
                  key: SPRING_DATASOURCE_PASSWORD 